//Tipografía
$fuente_principal: 'Montserrat', sans-serif;

//Colores
$text: #e5ebed;
$background: #0b0e10;
$primary: #b3c5ca;
$secondary: #475266;
$accent: #868daa;
$blancolu: #dae3e5;
$rojo: #ec406b;

//Tamaños de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;